@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");

/* cores */
:root {
  --color-neutral-0: #0e0c0c;
  --color-neutral-10: #171717;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.menu-secundario {
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  height: 80px;
}
main {
  margin: 0 auto;
  width: 100%;
  position: relative;
}
.logo {
  float: left;
  padding: 17px;
  width: 50%;
  padding-left: 50px;
}
.redes-sociais ul li {
  margin-left: 15px;
  display: inline-block;
  list-style: none;
  float: left;
}
.redes-sociais {
  width: 17%;
  float: right;
  padding: 6px;
}
.tamahlogoredsc {
  width: 25px;
  height: auto;
}
.header-2 {
  background-color: aqua;
  width: 100%;
  border-bottom: 6px solid red;
  border-bottom: 6px solid blue;
  border-bottom: 6px solid Purple;
}

/* questionario */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.question {
  display: none;
  margin-top: 30px;
}

.question.active {
  display: block;
}

.question-text {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
  color: #333;
}

input[type="text"],
label {
  display: block;
  margin-top: 10px;
  font-size: 1.2em;
  color: #333;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

label {
  margin-top: 5px;
  margin-bottom: 5px;
}

button[type="button"],
button[type="submit"] {
  display: block;
  margin-top: 20px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="button"]:hover,
button[type="submit"]:hover {
  background-color: #555;
}

/* Os elementos do rodapé */

.logo_Rubik {
  width: 390px;
  height: auto;
  align-items: center;
  justify-content: center;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

footer {
  width: 100%;
  color: var(--color-neutral-40);
}

.footer_link {
  text-decoration: none;
}

#footer_content {
  background-color: var(--color-neutral-10);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3rem 3.5rem;
}

#footer_contacts h1 {
  margin-bottom: 0.75rem;
}

#footer_media_social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 1.5rem;
}

#footer_media_social .footer_link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-40);
  border-radius: 50%;
  transition: all 0.4s;
}

#footer_media_social .footer_link i {
  font-size: 1.25rem;
}

#footer_media_social .footer_link:hover {
  opacity: 0.8;
}

#instragram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#linkedin {
  background-color: #4267b3;
}

#whatsapp {
  background-color: #25d366;
}

.footer_list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer_list .footer_link {
  color: var(--color-neutral-30);
}

.footer_list .footer_link:hover {
  color: #7f37c9;
}

@media screen and (max-width: 768px) {
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 426px) {
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}
